* {
    box-sizing: border-box;
}

body {
    background-image: url("../../images/welcomePage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

/* .title {
    position: relative;
    z-index: 1;
} */

h1  {
    background: transparent;
    border: transparent; 
    font-family: 'Tangerine', cursive;
    font-size: 5.2rem !important;
    color: ivory;
}



